<!doctype html>
<html>
<head>
  <title>Users and Interests</title>
</head>

<body>
  <h2>Users and Interests</h2>

  <ul>
    <% @users.each do |user| %>
      <li><%= user.first.capitalize %></li>
    <% end %>
  </ul>
</body>
</html>
