<!doctype html>
<html>
<head>
  <title>User <%= @name.capitalize %></title>
</head>

<body>
  <h2>User: <%= @name.capitalize %></h2>
  <h4>Email: <%= @users[@name][:email] %></h4>
  <h4>Interests: <%= @users[@name][:interests].join(', ') %></h4>

</body>
</html>
